<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid pt-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Gemini</a></li>
          <li class="breadcrumb-item"><a href="#">Partner Portal Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="#">Quotes/Orders</a></li>
        </ol>
      </nav>
    </div>
  </nav>
  <table class="table">
    <thead class="table-dark">
        <caption>List of users</caption>
    </thead>
    <tbody>
      <tr>
        <td>HI</td>
        <td>Bi</td>
      </tr>
    </tbody>
  </table>